@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Yusei+Magic:regular);

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

body{
    background-color: #f0F0F0;
    font-family: 'Montserrat';
    font-size: 14px;
    color: #000000;
}

#home{
    color: #007784;
}

.nav-bar{
    z-index: 1000;
    line-height: 16px;
    font-weight: 700;
    font-size: 13px;
    background-color: #FFFFFF;
    width: 100%;
}

.nav-bar .logo, .menu , .mua-hang{
    display: inline-block;
}

.menu-level-2{
    display: none;
}

.item-menu-level-1{
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    padding: 30px 10px 20px 10px;
}

#home{
    border-bottom: 3px solid #007784;
    margin-left: 10px;
}

.fa-search ,.fa-phone-alt, .fa-shopping-cart{
    font-size: 16px;
    line-height: 16px;
}

.fa-search {
    margin: 0px 20px 0px 0px;
    color: #474748;
    padding-bottom: 3px;
}

.fa-search:hover{
    border-bottom: 3px solid #007784;
}

.item-menu-level-1 .title-item-menu-level-1:hover{
    border-bottom: 3px solid #007784;
    color: #007784;
}

#cc:hover{
    border-bottom: 3px solid #007784;
}

.mua-hang .sdt, .gio-hang{
    display: inline-block;
    padding-bottom: 3px;
    margin-left: 5px;
}

.mua-hang{
    color: #000000;
    float: right;
    font-size: 13px;
    line-height: 16px;
    padding: 25px 10px 20px 10px;
    margin: 0px 100px 0px 0px;
}

.img-hang img:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.sdt{
    padding: 5px 5px;
    border-right: #474748;
    border-right: 2px solid #474748;
}

.nav-bar .logo {
    float: left;
    font-size: 25px;
    line-height: 25px;
    padding: 25px 50px 30px 110px;
}

.logo a{
    font-family: 'Yusei Magic';
    color: #474748;
}

.nav-bar .logo span {
    color: #F7B67f;
}

.title-item-menu-level-1{
    padding-bottom: 3px;
    color:#474748;
}

.item-menu-level-2 i{
    font-size: 14px;
    color: #000000;
}
   
.khoi-1{
    padding: 10px 10px 10px 10px;
    float: left;
}

.khoi-1 h3{
    padding-bottom: 30px;
}

.menu-level-2{
    border: 1PX solid #ffffff;
    position: absolute;
    padding: 20px 0px 20px 100px;
    left: 0;
    background-color: #F5F0EA;
    margin: 50px 0px 0px 0px;
}

.hang{
    text-align: center;
}

.gio-hang a:hover{
    color: #007784;
}

.sdt{
    color: #000000;
}

.sdt a{
    color: #474748;
}

.gio-hang a{
    color: #474748;
}

.img-hang{
    display: inline-block;
    width: 20%;
    padding: 20px;
    margin: auto;
    text-align: center;
}

.item-menu-level-2{
    padding: 0px 0px 20px 0px;
}

.title-item-menu-level-2{
    color: #474748;
    margin-left: 10px;
}

.aa:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.title-item-menu-level-2:hover{
    border-bottom: 3px solid #007784;
    color: #007784;
}


.menu-level-1 i{
    border: none;
    background-color: #00000000;
}

.login{
    margin-left: 20px;
}
/* 


.popup {
    display: none;
    position: fixed;
    padding-top: 300px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    position: relative;
    background-color: #fafafa00;
    padding: 15px;
    margin: auto;
    width: 70%;
    text-align: center;
    height: 500px;
}

.popup-content input {
    background-color: #2e2e2e00;
    border: 0;
    height: 50px;
    width: 90%;
    color: white;
}

.popup-content input:focus {
    border: 0;
    outline: none;
}

.close-btn {
    float: right;
    color: #ddd;
    font-size: 35px;
    font-weight: 700;
    margin-top: -300px;
    margin-right: -230px;
}

.close-btn:hover {
    color: #D2D2D2;
} */
